

/* --- SELECT --- */
.select-wrapper{
  text-align: center;
}
/*.custom-select, .custom-select-label{
  height: 2em;
  line-height: 2em;
  position: relative;
  width: 15%;
  display: block;
}

.custom-select{
  margin-bottom: -2em;
  z-index: 2;
  opacity: 0;
  -webkit-appearance: none;
}

.custom-select-label{
  padding-left: 0.5em;
  background: #ddd;
  margin: 0;
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
}

.custom-select-label:after{
  content: "";
  display: block;
  border: 6px solid transparent;
  border-top-color: #222;
  position: absolute;
  top: 50%;
  right: 0.5em;
  margin-top: -3px;
}
option{
  color: red;
  padding: 4px;
  line-height: 2em;
}*/
/* --- CHECKBOX --- */
/* --> Jquery */
.niceCheck {
  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  top: 2px;
  background: url(../img/checkbox-sprite.png);
}

.niceCheck input {
  margin-left: -999999px;
  /*display: none;*/
}

/* --> CSS */
.csscheckbox input[type=checkbox] {
     position: absolute;
     clip: rect(0, 0, 0, 0);
}
.csscheckbox label {
    cursor: pointer;
}
.csscheckbox label:after {
    content: " ";
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/checkbox-sprite.png);
    position: relative;
    top: 3px;
    margin-left: 10px;
}
input[type=checkbox]:checked + label:after {
    background-position: 0 -17px;
}
.csscheckbox label:hover:after {
    background-position: 0 -34px;
}
.csscheckbox input[type=checkbox]:checked + label:hover:after {
    background-position: 0 -51px;
}

/* MENU */
nav {
    background-color: rgb(95,76,76);
    /*padding: 10px 0;*/
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    position: relative;
}
/* --> sub navigation */
nav li ul {    
    background-color: rgb(120,75,75);
    position: absolute;
    left: 0;
    top: 40px; /* make this equal to the line-height of the links (specified below) */
    width: 200px;
}
nav li li {
    position: relative;
    margin: 0;
    display: block;
}
nav li li ul {
    position: absolute;
    top: 0;
    left: 200px; /* make this equal to the width of the sub nav above */
    margin: 0;
}
/* --> style all links */
nav a {
    line-height: 40px;
    padding: 0 12px;
    margin: 0 12px;
}
nav a {
    color: #fff;
    text-decoration: none;
    display: block;
}
/**/
@keyframes color {
from {color: rgb(230, 255, 230);}
to {color: rgb(50, 240, 50);}
}
/**/
nav a:hover,
nav a:focus,
nav a:active {
    /*animation-fill-mode: forwards;*/
    animation: color 1s 1 ease-in-out;
    color: rgb(50,240,50);
}

/* --> style sub level links */
nav li li a {
    border-bottom: solid 1px rgb(200,50,50);
    margin: 0 10px;
    padding: 0;
}
/*nav li li:last-child a {
    border-bottom: none;
}*/

/* --> show arrows for dropdowns */
nav li.dropdown > a {
    background-image: url('../img/arrow-down.png');
    background-position: right 20px;
    background-repeat: no-repeat;
}

nav li li.dropdown > a {
    background-image: url('../img/arrow-right.png');
    background-position: right 16px;
    background-repeat: no-repeat;
}

/* --> hide sub menu links */
ul.sub-menu {
    display: none;
    z-index: 10;
}